*
{
    margin: 0px;
    padding: 0px;
   
}    
@font-face
{
    font-family: "Dongle-light";
    src: url("Dongle/Dongle-light.ttf");
}

@font-face
{
    font-family: "Dongle-regular";
    src: url("Dongle/Dongle-regular.ttf");
}

@font-face
{
    font-family: "Dongle-bold";
    src: url("Dongle/Dongle-bold.ttf");
}

header
{
    display: flex;
    padding: 20px;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}
.logo img
{
max-width: 15%;
}
.nav-menu ul{
    display: flex;
}
.nav-menu li{
    list-style: none;
    margin-right: 20px;
}
.nav-menu li: :last-child{
    margin-right: 0;
}
.nav-menu a{
    text-decoration: none;
    font-family:"Dongle-bold";
    font-size: 1.6rem;
    color: black;
    transition: all ease 0.4s;
}
.nav-menu a:hover{
    color:blue;
}
.hero{
    position:relative;
    height: 600px;
    overflow: hidden;
}
.hero-image img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index: -1;
}
.hero-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:black;
}
.hero-content h1{
    font-family:"Dongle-bold";
    font-size: 4rem;
}
.hero-content p{
    font-family: "Dongle-regular";
    font-size: 1.8rem;
    margin-top: -10px;
    margin-bottom: 10px;
}
.hero-button{
    display: inline-block;
    text-decoration:none;
    color:white;
    background-color: coral;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: "Dongle-light";
    font-size:1.6rem;
    transition: all ease 0.3s;
}
.hero-button:hover{
    background-color:gold
}
.destinations{
    font-size:2.4rem;
    font-family: "Dongle-bold";
    margin: 40px 80px;
    text-align: center;
}
.destinations h2{
    margin-bottom: 40px;
}
.destination-grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:40px;
}
.destination-item img{
    width:100%;
    height: 400px;
    object-fit: cover;
}
.destination-item{
    text-align: left;
}
.destination-item h4{
    font-size: 2rem;
}
.destination-item p{
    font-size: 1.4rem;
    line-height: 1;
    font-family: "Dongle-regular";
}

.Contact {
    padding: 80px;
    text-align:center;
    background-color:#f7f7f7; 
    
} 


.Contact h2{
    font-family: "Dongle-bold";
    font-size: 3rem;
    text-align: center;
} 
.Contact-info p{
    font-family: "Dongle-regular";
    font-size: 1.4rem;
    margin-bottom: 20px;

}
.Contact-info ul{
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
} 
.contact-info li{
    margin: 20px 20px;
    font-family: "Dongle-regular";
    font-size: 1.4rem;
    display: inline;
    align-items: center;
    text-decoration: none;
}
.Contact-info li{
    text-decoration: none;
    font-family: "Dongle regular";
    color: black;
}
.Contact-info i{
    font-size: 24px;
    margin-right: 10px;
}
.form{
    width: 100%;
}
input,textarea{
    width:70%;
    padding: 15px ;
    margin: 20px 0;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: "Dongle-regular";
}
textarea{
    height: 200px;
}

.form button{
    display: inline-block;
    text-decoration:none;
    color:white;
    background-color: coral;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: "Dongle-light";
    font-size:1.6rem;
    transition: all ease 0.3s;
}
.form button:hover{
    background-color:gold;
}

@media (min-width: 1025px){
.hero-image
.destination-grid
}
@media(min-width:768px) and (max-width:900px){

}
@media(max-width: 767px){
    
} 